
/* bb  */
body {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Ensure the body fills the viewport height */
}

.main {
  width: 600px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 100px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

img {
  margin: auto; /* Center image horizontally */
}

body {
  font-family: Arial, sans-serif;
}

p {
  line-height: 25px;
  margin-bottom: 50px;
  text-align: justify;
}

input {
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-left: 10px;
}

button {
  background-color: #ffde59;
  height: 30px;
  width: 80px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
