.background {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjusted alignment */
    padding-top: 50px; /* Adjusted padding */
}

.content-container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
    width: 850px;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.inputs {
    margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 768px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 25px;
}

select {
    width: 100%;
}

button {
    height: 34px;
    width: 124px;
    font-size: 0.93rem;
    border-radius: 0.6rem;
    border: none;
    background-color: #ffda76;
    margin: auto; /* Center the button horizontally */
}

button:hover {
    background-color: #fbd467;
}
