header {
  /* background-color: black; */
  box-shadow: 0 0 10px #000;
}

header .main {
  display: flex;
  flex-direction: column;
  padding-bottom: 42px;
  margin-left: 43px;
}

.background {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;

  justify-content: center;
}

.content {
  min-height: 566px;
  width: 910px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 74px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  margin-left: 43px;
}

.main input {
  margin-bottom: 26px;
}

.main label {
  margin-bottom: 5px;
  width: 100px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 16px;
}

.main label,
.main input {
  margin-bottom: 25px;
}

#title {
  border-radius: 10px;
  height: 32px;
  width: 248px;
  padding-left: 10px;
  margin-left: 10px;
}

.main input[type="text"],
.main textarea {
  width: 248px;
  height: 32px;
  border-radius: 10px;
  padding-left: 10px;
}

#text {
  height: 300px;
  width: 600px;
  padding: 10px;
  resize: none;
  overflow-y: scroll;
  margin-left: 10px;
  border-radius: 10px;
}

button {
  height: 34px;
  width: 124px;
  font-size: 0.93rem;
  margin-top: 25px;
  margin-bottom: 19px;
  border-radius: 0.6rem;
  border: none;
  background-color: #ffda76;
}

.button-post {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #fbd467;
}
