.background{
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.content {
    height: 250px;
    width: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    margin: auto;
    margin-top: 74px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
}

h1 {
    text-align: center; 
}

.password-form input {
    margin-bottom: 26px;
    margin-left: -40px;
}

.password-form label {
    margin-bottom: 5px; 
    width: 100px; 
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.password-form label, .password-form input{
    margin-bottom: 25px;
}


#email {
    border-radius: 10px;
    height: 32px;
    width: 248px;
    padding-left: 10px;
}

.password-form input[type="text"],
.password-form input[type="password"] {
    width: 248px;
    height: 32px;
    border-radius: 10px;
    padding-left: 10px;
}

button {
    height: 34px;
    width: 124px;
    font-size: 0.93rem;
    margin-top: 25px;
    margin-bottom: 19px;
    border-radius: 0.6rem;
    border: none;
    background-color: #ffda76;
}

button:hover{
    background-color: #fbd467;
}