
.background{
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px 150px 20px 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 10px; /* Adds padding inside each card */
    background-color: white;
}

.main-title{
    margin-top: 2%;
    margin-bottom: 1.5%;
}

.title{
    font-size: 2rem;
    margin-bottom: 12px;
}

.title h3 a{
    text-decoration: none;
    color: black;
}

.main-title{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    /* color: #ffd257; */
    color: white;
    text-transform: uppercase;
    text-shadow: 0.2px 2px 8px #00000082;
    background-color: #FFDE59;
    padding: 10px;
}
.text {
    font-size: large;
    line-height: 2;
    margin-bottom: 12px;
}

#read-more{
    font-style: italic;
}

.forms{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.search{
    display: flex;
}

.search-bar input{
    width: 260px;
    height: 34px;
    padding-left: 5px;
}

.search-bar, .search-btn, .view-all-btn{
    margin: 10px 5px 10px 5px;
}

.search-btn button, .view-all-btn button, .search-bar input{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-width: 0;
    background-color: white;
    font-size: 15px;
    /* display: flex;
    justify-content: center; */
}

.search-btn button, .view-all-btn button{
    padding: 5px 34px;
    background-color: #ffd257;
    color: white;
    font-weight: bold;
}

.search-btn button:hover, .view-all-btn button:hover{
    background-color: #f9c80e;
}

.title, .text{
    word-wrap: break-word;
    text-decoration: none;
}


.timestamp, .author{
    font-size: small;
}