.background {
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.content {
    height: 320px; /* Increased height for more space */
    width: 600px; /* Increased width for more space */
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    margin: auto;
    margin-top: 50px; /* Adjusted margin-top for better positioning */
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
}

h1 {
    text-align: center; 
}

.password-form input {
    margin-bottom: 20px; /* Increased margin for more spacing between input fields */
    margin-left: -15px;
}

.password-form label {
    margin-bottom: 25px; /* Increased margin for more spacing between label and input */
    width: 200px; /* Adjusted width for better alignment */
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#password, #password_confirmation {
    border-radius: 10px;
    height: 32px;
    width: 248px;
    padding-left: 10px;
}

button {
    height: 40px; /* Increased height for more space */
    width: 160px; /* Increased width for more space */
    font-size: 0.95rem; /* Slightly increased font size */
    margin-top: 30px; /* Increased margin for better spacing */
    margin-bottom: 25px; /* Increased margin for better spacing */
    border-radius: 0.6rem;
    border: none;
    background-color: #ffda76;
}

button:hover{
    background-color: #fbd467;
}
